<div class="trade-page">
  <div class="trade-heading">Trade List <button class="btn btn-primary" (click)="addTrade()">Add</button> <button class="btn btn-secondary" (click)="matchTrade()">Match</button><a href="/" class="logout"> Go Back </a></div>

  <div>

  </div>
  <table>
    <tr>
      <th>TradeID</th>
      <th>Source</th>
      <th>BuySide</th>
      <th>BuySide TradeId</th>
      <th>SellSide</th>
      <th>SellSide TradeId</th>
      <th>IM</th>
      <th>EB</th>
      <th>Product</th>
      <th>SubProduct</th>
      <th>Trade Date</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Security</th>
      <th>Status</th>

      
    </tr>
    <tr class="trade-box" *ngFor="let trade of tradeList">
      <td>{{trade.tradeId}}</td>
      <td>{{trade.source}}</td>
      <td>{{trade.buySide}}</td>
      <td>{{trade.buySideTradeId}}</td>
      <td>{{trade.sellSide}}</td>
      <td>{{trade.sellSideTradeId}}</td>
      <td>{{trade.investmentManager}}</td>
      <td>{{trade.executingBroker}}</td>
      <td>{{trade.product}}</td>
      <td>{{trade.subProduct}}</td>
      <td>{{trade.tradeDate}}</td>
      <td>{{trade.quantity}}</td>
      <td>{{trade.price}}</td>
      <td>{{trade.securityId}}</td>
      <td>{{trade.status}}</td>
      <td>{{trade.statusDetail}}</td>
    </tr>
  </table>
</div>
